<a href="https://colab.research.google.com/github/sahug/python-data-structure/blob/main/%20Data%20Structure%20-%20Python%20Bubble%20Sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Structure - Python Bubble Sort**

In [2]:
def bubble_sort(elements):
  size = len(elements)

  for i in range(size-1):
    swapped = False
    for j in range(size-1):
      if elements[j] > elements[j + 1]:
        tmp = elements[j]
        elements[j] = elements[j+1]
        elements[j+1] = tmp
        swapped = True
    
    if not swapped:
      break

In [6]:
def bubble_sort_by_key(elements, key):
  size = len(elements)

  for i in range(size-1):
    swapped = False
    for j in range(size-1):
      if (elements[j])[key] > (elements[j + 1])[key]:
        tmp = (elements[j])[key]
        (elements[j])[key] = (elements[j+1])[key]
        (elements[j+1])[key] = tmp
        swapped = True
    
    if not swapped:
      break

In [4]:
if __name__ == "__main__":
  elements = [5, 9, 2, 1, 67, 34, 88, 34]
  bubble_sort(elements)
  print(elements)

  elements = [1,2,3,4,2]
  bubble_sort(elements)
  print(elements)

  elements = ["mona", "dhaval", "aamir", "tina", "chang"]
  bubble_sort(elements)
  print(elements)

[1, 2, 5, 9, 34, 34, 67, 88]
[1, 2, 2, 3, 4]
['aamir', 'chang', 'dhaval', 'mona', 'tina']

In [7]:
if __name__ == "__main__":
  elements = [
        { 'name': 'mona',   'transaction_amount': 1000, 'device': 'iphone-10'},
        { 'name': 'dhaval', 'transaction_amount': 400,  'device': 'google pixel'},
        { 'name': 'kathy',  'transaction_amount': 200,  'device': 'vivo'},
        { 'name': 'aamir',  'transaction_amount': 800,  'device': 'iphone-8'},
  ]

  bubble_sort_by_key(elements, "name")
  print(elements)

  bubble_sort_by_key(elements, "transaction_amount")
  print(elements)

  bubble_sort_by_key(elements, "device")
  print(elements)

[{'name': 'aamir', 'transaction_amount': 1000, 'device': 'iphone-10'}, {'name': 'dhaval', 'transaction_amount': 400, 'device': 'google pixel'}, {'name': 'kathy', 'transaction_amount': 200, 'device': 'vivo'}, {'name': 'mona', 'transaction_amount': 800, 'device': 'iphone-8'}]
[{'name': 'aamir', 'transaction_amount': 200, 'device': 'iphone-10'}, {'name': 'dhaval', 'transaction_amount': 400, 'device': 'google pixel'}, {'name': 'kathy', 'transaction_amount': 800, 'device': 'vivo'}, {'name': 'mona', 'transaction_amount': 1000, 'device': 'iphone-8'}]
[{'name': 'aamir', 'transaction_amount': 200, 'device': 'google pixel'}, {'name': 'dhaval', 'transaction_amount': 400, 'device': 'iphone-10'}, {'name': 'kathy', 'transaction_amount': 800, 'device': 'iphone-8'}, {'name': 'mona', 'transaction_amount': 1000, 'device': 'vivo'}]