<a href="https://colab.research.google.com/github/sahug/python-data-structure/blob/main/Python%20Basics%20-%20Python%20One-Liners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**One Line If Else**

In [1]:
var = 21 if 3<2 else 42
print(var)

42

**One Line Elif**

In [3]:
x = 42
print("no") if x > 42 else print("yes") if x == 42 else print("maybe")

yes

**If Without Else**

In [ ]:
##############################
# Method 1: Single-Line Def
##############################
def f1(x): return str(x * 3) + '!'
print(f1(1))
print(f1('python'))

##############################
# Method 2: Lambda Function
##############################
f2 = lambda x: str(x * 3) + '!'
print(f2(1))
print(f2('python'))

##############################
# Method 3: exec()
##############################
f3 = "def f(x):\n    return str(x * 3) + '!'"
exec(f3 + '\nprint(f(1))')
exec(f3 + "\nprint(f('python'))")

**One Line For Loop If**

In [4]:
print([i**2 for i in range(10) if i%2==0])

[0, 4, 16, 36, 64]

**One Line For Loop Lambda**

In [6]:
a = [1, 2, 3, 4]
b = [x+1 for x in a]
print(b)

[2, 3, 4, 5]

**One Line While Loop**

In [ ]:
# Method 1: Single-Statement Body
while True:
    print('hi')
    break

# Method 2: Multiple-Statements Body
c = 0
while c < 10: print(c); c = c + 1


# Method 3: Nested Statements Body
while True: print('yes') if True else print('no')

**One Line Quicksort**

In [10]:
l = [4, 2, 1, 42, 3]
q = lambda l: q([x for x in l[1:] if x <= l[0]]) + [l[0]] + q([x for x in l if x > l[0]]) if l else []
## The Result
print(q(l))

[1, 2, 3, 4, 42]

**One Line Recursion**

In [11]:
# Method 1: Recursive Fibonacci
def fib(n): return 1 if n in {0, 1} else fib(n-1) + fib(n-2)
print(fib(10))
# 89


# Method 2: Recursive Factorial
def fac(x): return 1 if x<=1 else x * fac(x-1)
print(fac(10))
# 3628800


# Method 3: Recursive Factorial with Lambda
fac = lambda n: 1 if n<=1 else n * fac(n-1)
print(fac(10))
# 3628800


# Method 4: Recursive Quicksort
unsorted = [33, 2, 3, 45, 6, 54, 33]
q = lambda l: q([x for x in l[1:] if x <= l[0]]) + [l[0]] + q([x for x in l if x > l[0]]) if l else []
print(q(unsorted))
# [2, 3, 6, 33, 33, 45, 54]

89
3628800
3628800
[2, 3, 6, 33, 33, 45, 54]

**One Line Two For Loops (Double)**

In [12]:
iter1 = [1, 2, 3, 4]
iter2 = ['a', 'b', 'c']

# Method 1: Nested List Comprehension
[print(x, y) for x in iter1 for y in iter2]

# Method 3: For Loop with List Comprehension
for x in iter1: [print(x, y) for y in iter2]

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c

**One Line Two Commands**

In [13]:
a = 1; b = 2; c = a + b; print(c)

3

**One Line Array Filter**

In [15]:
lst = [8, 2, 6, 4, 3, 1]

# Filter all elements <8
small = [x for x in lst if x<8]
print(small)

# Filter all even elements
even = [x for x in lst if x%2==0]
print(even)

# Filter all odd elements
odd = [x for x in lst if x%2]
print(odd)

[2, 6, 4, 3, 1]
[8, 2, 6, 4]
[3, 1]

**One Line Append**

In [17]:
words = ['hi', 'hello', 'Python', 'a', 'the']
stop_words = {'a', 'the'}
filtered_words = []

filtered_words = [word for word in words if word not in stop_words]
print(filtered_words)

['hi', 'hello', 'Python']

**One Line Conditional Assignment**

In [18]:
x = 2
boo = True

# Method 1: Ternary Operator
x = 42 if boo else x
print(x)

# Method 2: Single-Line If Statement
if boo: x = 42
print(x)

# Method 3: Tuple Syntax Hack
x = (x, 42)[boo]
print(x)

42
42
42

**One Line Swap**

In [19]:
a = 21
b = 42

# Swap One-Liner
a, b = b, a

# Print the result to the shell
print(a, b)

# 42 21

42 21

**One Line Sum**

In [20]:
a = [1, 2, 3]

print(sum(a))

6

**One Line Sort**

In [21]:
a = [4, 2, 1, 3]

# Method 1: sorted()
print(sorted(a))

# Method 2: list.sort() + ternary
print(a if a.sort() else a)

# Method 3: semicolon
a.sort(); print(a)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

**One Line Semicolon**

In [22]:
x = 'hi'; y = 'young'; z = 'friend'; print(x, y, z);

hi young friend

**One Line Function Definition**

In [23]:
# Original code:
def say_hi(*friends):
    for friend in friends:
        print('hi', friend)
friends = ['Alice', 'Bob', 'Ann']
say_hi(*friends)

# Method 1: Lambda Function
hi = lambda lst: [print('hi', x) for x in lst]
hi(friends)

# Method 2: Function Definition
def hi(lst): [print('hi', x) for x in lst]
hi(friends)

hi Alice
hi Bob
hi Ann
hi Alice
hi Bob
hi Ann
hi Alice
hi Bob
hi Ann

**One Line Dictionary**

In [24]:
# Given a list:
a = ['Alice', 'Liz', 'Bob']

# One-Line Statement Creating a Dict:
d = dict(enumerate(a))
print(d)

{0: 'Alice', 1: 'Liz', 2: 'Bob'}

**One Line For Loop Append**

In [25]:
# Method 3
friends = ['Ann', 'Alice']
new_friends = ['Bob', 'Liz']

# One-Liner:
friends.extend(new_friends)

# Results
print(friends)
# ['Ann', 'Alice', 'Bob', 'Liz']

['Ann', 'Alice', 'Bob', 'Liz']

**Multiple Variables in One Line**

In [27]:
# MULTIPLE ASSIGNMENT
a, b = 1, 2
print(a)
print(b) 


# MULTIPLE SAME VALUE 
a = b = 1
print(a) 
print(b)

1
2
1
1

**One Line Map**

In [28]:
print(list(map(lambda x: x + 1, [1, 2, 3])))
# [2, 3, 4]

[2, 3, 4]