<a href="https://colab.research.google.com/github/sahug/python-data-structure/blob/main/Python%20Basics%20-%2020%20Python%20Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**reduce()**

Python's **reduce()** function iterates over each item in a list, or any other iterable data type, and returns a single value. It's one of the methods of the built-in functools class of Python.

In [1]:
from functools import reduce
def add_num(a, b):
 return a+b
a = [1, 2, 3, 10]
print(reduce(add_num, a))

16

In [2]:
from functools import reduce
def add_str(a,b):
 return a+' '+b
a = ['MUO', 'is', 'a', 'media', 'website']
print(reduce(add_str, a))

MUO is a media website

**split()**

The **split()** function breaks a string based on set criteria. You can use it to split a string value from a web form. Or you can even use it to count the number of words in a piece of text.

In [ ]:
words = "column1 column2 column3"
words = words.split(" ")
print(words)

**enumerate()**

The **enumerate()** function returns the length of an iterable and loops through its items simultaneously. Thus, while printing each item in an iterable data type, it simultaneously outputs its index.

In [3]:
fruits = ["grape", "apple", "mango"]
for i, j in enumerate(fruits):
 print(i, j)

0 grape
1 apple
2 mango

In [5]:
fruits = ["grape", "apple", "mango"]
for i, j in enumerate(fruits, start=1):
 print(i, j)

1 grape
2 apple
3 mango

**eval()**

Python's **eval()** function lets you perform mathematical operations on integers or floats, even in their string forms. It's often helpful if a mathematical calculation is in a string format.

In [6]:
g = "(4 * 5)/4"
d = eval(g)
print(d)

5.0

**round()**

You can round up the result of a mathematical operation to a specific number of significant figures using round().

In [7]:
raw_average = (4+5+7/3)
rounded_average=round(raw_average, 2)
print("The raw average is:", raw_average)
print("The rounded average is:", rounded_average)

The raw average is: 11.333333333333334
The rounded average is: 11.33

**max()**

The **max()** function returns the highest ranked item in an iterable. Be careful not to confuse this with the most frequently occurring value, though.

In [8]:
b = {1:"grape", 2:"apple", 3:"applesss", 4:"zebra", 5:"mango"}
print(max(b.values()))

zebra

**min()**

The **min()** function does the opposite of what max() does:

In [9]:
fruits = ["grape", "apple", "applesss", "zebra", "mango"]
b = {1:"grape", 2:"apple", 3:"applesss", 4:"zebra", 5:"mango"}
a = [1, 65, 7, 9]
print(min(a))
print(min(b.values()))

1
apple

**map()**

Like **reduce()**, the **map()** function lets you iterate over each item in an iterable. However, instead of producing a single result, map() operates on each item independently.

In [10]:
b = [1, 3, 4, 6]
a = [1, 65, 7, 9]

# Declare a separate function to handle the addition: 
def add(a, b):
 return a+b
 
# Pass the function and the two lists into the built-in map() function: 
a = sum(map(add, b, a))
print(a)

96

**getattr()**

Python's **getattr()** returns the attribute of an object. It accepts two parameters: the class and the target attribute name

In [11]:
class ty:
 def __init__(self, number, name):
  self.number = number
  self.name = name

a = ty(5*8, "Idowu")
b = getattr(a, 'name')
print(b)

Idowu

**append()**

Whether you're delving into web development or machine learning with Python, append() is another Python method you'll often need. It works by writing new data into a list without overwriting its original content.

In [ ]:
nums = [1, 2, 3]
appendedlist = [2, 4]
for i in nums:
 a = i*3
 appendedlist.append(a)
print(appendedlist)

**range()**

You might already be familiar with **range()** in Python. It's handy if you want to create a list of integers ranging between specific numbers without explicitly writing them out.

In [13]:
a = range(1, 6)
b = []
for i in a:
  if i%2!=0:
    b.append(i)
print(b)

[1, 3, 5]

**slice()**

Although the **slice()** function and the traditional slice method give similar outputs, using **slice()** in your code can make it more readable.

In [14]:
b = [1, 3, 4, 6, 7, 10]
st = "Python tutorial"
sliceportion = slice(0, 4)
print(b[sliceportion])
print(st[sliceportion])

[1, 3, 4, 6]
Pyth

**format()**

The format() method lets you manipulate your string output.

In [ ]:
multiple = 5*2
multiple2 = 7*2
a = "{} is the multiple of 5 and 2, but {} is for 7 and 2"
a = a.format(multiple, multiple2)
print(a)

**strip()**

Python's **strip()** removes leading characters from a string. It repeatedly removes the first character from the string, if it matches any of the supplied characters.

In [15]:
st = " Python tutorial"
st = st.strip(" P")
print(st)

ython tutorial

**abs()**

Do you want to neutralize negative mathematical outputs? Then try out the **abs()** function.

In [16]:
neg = 4 - 9
pos = abs(neg)
print(pos)

5

**upper()**

As the name implies, the **upper()** method converts string characters into their uppercase equivalent

In [17]:
y = "Python tutorial"
y = y.upper()
print(y)

PYTHON TUTORIAL

**lower()**

You guessed right! Python's **lower()** is the opposite of **upper()**. So it converts string characters to lowercases:

In [18]:
y = "PYTHON TUTORIAL"
y = y.lower()
print(y)

python tutorial

**sorted()**

The **sorted()** function works by making a list from an iterable and then arranging its values in descending or ascending order:

In [19]:
f = {1, 4, 9, 3} # Try it on a set
sort = {"G":8, "A":5, "B":9, "F":3} # Try it on a dictionary
print(sorted(f, reverse=True)) # Descending
print(sorted(sort.values())) # Ascending (default)

[9, 4, 3, 1]
[3, 5, 8, 9]

**join()**

The **join()** function lets you merge string items in a list.

In [20]:
a = ["Python", "tutorial", "on", "MUO"]
a = " ".join(a)
print(a)

Python tutorial on MUO

**replace()**

Python's **replace()** method lets you replace some parts of a string with another character. It's often handy in data science, especially during data cleaning.

In [21]:
columns = ["Cart_name", "First_name", "Last_name"]
for i in columns:
 i = i.replace("_", " ")
 print(i)

Cart name
First name
Last name